#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

body {
  background-color: #eaeaea;
}

.dx-content {
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding-top: 110px;
  padding-left: 210px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  /*transition: all .5s;*/
}

.dx-breadcrumb {
  width: 100%;
  height: 40px;
  background-color: #333;
  padding-left: 37px;
  box-sizing: border-box;
  position: fixed;
  top: 70px;
  left: 210px;
  z-index: 9;
  transition: all .5s;
}

.dx-content.fullScreen {
  padding-top: 0;
  padding-left: 0;
}

.dx-content.fullScreen .dx-breadcrumb {
  display: none;
}

.dx-breadcrumb .el-breadcrumb {
  line-height: 40px;
}

.dx-breadcrumb .el-breadcrumb__item__inner:hover,
.dx-breadcrumb .el-breadcrumb__item:last-child span,
.dx-breadcrumb .el-breadcrumb__item:last-child span:hover,
.dx-breadcrumb .el-breadcrumb__item__inner a:hover {
  color: #ffffff;
}

.dx-breadcrumb .el-breadcrumb__item__inner,
.dx-breadcrumb .el-breadcrumb__separator,
.dx-breadcrumb .el-breadcrumb__item__inner a {
  color: #9f9f9f;
}

.fade-transition {
  transition: opacity .3s ease;
}

.fade-enter, .fade-leave {
  opacity: 0;
}

/*全局属性*/
.dx-hide {
  display: none !important;
}

i.iconfont {
  vertical-align: middle;
}

/****表格样式**/
table.dx-table {
  border-collapse: collapse;
  border-spacing: 0;
  border-left: 1px solid #dfe6ec;
  background-color: #ffffff;
}

table.dx-table tr:first-child {
  border-top: 1px solid #dfe6ec;
}

table.dx-table tr th,
table.dx-table tr td {
  text-align: center;
  border-right: 1px solid #dfe6ec;
  border-bottom: 1px solid #dfe6ec;
  padding: 5px 15px;
}

table.dx-table tr th {
  background-color: #eef1f6;
  line-height: 30px;
}

table.dx-table tr td button {
  margin-right: 10px;
  margin-left: 0 !important;
}

table.dx-table tr td button:hover {
  text-decoration: underline;
}

table.dx-table tr:hover {
  background-color: #eef1f6;
}

.el-table .cell {
  font-size: 13px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*dialog 样式重置**/
.el-dialog .el-dialog__header {
  background-color: #3f3f3f;
  padding: 0 20px;
  line-height: 40px;
}

.el-dialog .el-dialog__header span {
  color: #ffffff;
}

.el-dialog .el-dialog__header .el-dialog__headerbtn {
  margin: 10px 0;
}

/*图片预览*/
.dx-preview-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .95);
  z-index: 999;
  text-align: center
}

.dx-preview-box:after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

.dx-preview-box img {
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}
