
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

a:active, a:hover {
  outline: 0
}

img {
  display: inline-block;
  border: none
}

li {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

h1, h2, h3 {
  font-size: 14px;
  font-weight: 400
}

h4, h5, h6 {
  font-size: 100%;
  font-weight: 400
}

button, input, optgroup, option, select, textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word
}

body {
  line-height: 24px;
  font: 14px Helvetica Neue, Helvetica, PingFang SC, \5FAE\8F6F\96C5\9ED1, Tahoma, Arial, sans-serif
}

hr {
  height: 1px;
  margin: 10px 0;
  border: 0;
  background-color: #e2e2e2;
  clear: both
}

a {
  color: #333
}

a:hover {
  color: #777
}

a cite {
  font-style: normal;
  *cursor: pointer
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px
}

::-webkit-scrollbar-button:vertical {
  display: none
}

::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
  background-color: #e2e2e2
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(0, 0, 0, .3)
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, .35)
}

::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, .38)
}
